{% extends 'base.html' %}
{% block content %}
<h1 class="h2 page-title">New Question</h1>
<form class="d-grid gap-3" style="max-width: 500px;">
  <div class="row align-items-start g-2"><div class="col-2"><label class="form-label m-0">Title</label></div><div class="col-10"><input class="form-control" value="How to build a moon park ?"></div></div>
  <div class="row align-items-start g-2"><div class="col-2"><label class="form-label m-0">Text</label></div><div class="col-10"><textarea class="form-control" rows="8">Really, how ?
Have no idea about it</textarea></div></div>
  <div class="row align-items-start g-2"><div class="col-2"><label class="form-label m-0">Tags</label></div><div class="col-10"><input class="form-control" value="moon, park, puzzle"></div></div>
  <div><button class="btn btn-primary" type="submit">ASK!</button></div>
</form>
{% endblock %}
